In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('CMO-Monthly-Prices_Clean.csv')
df.tail()

,Unnamed: 0,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe **","Liquefied natural gas, Japan",...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
748,2022M05,110.10,112.37,108.32,109.60,NaN,280.00,8.14,29.17,16.68,...,2830.32,131.21,9377.15,2142.48,35769.39,28062.55,3751.48,1848.50,958.38,21.91
749,2022M06,116.80,120.08,115.73,114.59,NaN,313.46,7.67,33.56,15.53,...,2563.44,130.74,9024.46,2066.38,31559.31,25658.63,3629.73,1836.57,956.59,21.56
750,2022M07,105.08,108.92,106.48,99.85,NaN,329.82,7.26,51.33,18.88,...,2408.42,108.57,7544.81,1985.20,25395.77,21481.89,3105.36,1732.74,869.25,19.08
751,2022M08,95.97,98.60,97.75,91.57,NaN,318.28,8.79,70.04,21.21,...,2430.79,108.85,7981.84,2072.72,24647.48,22057.39,3587.57,1764.56,908.65,19.72
752,2022M09,88.22,90.16,90.63,83.87,NaN,321.48,7.76,59.10,21.70,...,2228.09,99.80,7749.00,1868.10,21145.47,22857.87,3130.24,1680.78,881.24,18.94

In [3]:
df = pd.read_csv('US_Fed_IDV_contracts_Clean.csv')
df.head()

,Award ID,Start Date,Award Amount,Recipient Name,Description,Contract Award Type,def_codes,Awarding Agency,Awarding Sub Agency,awarding_agency_id,agency_slug,generated_internal_id,Unnamed: 13,Month
0,15UC0C20D00001857,8/25/2025,50000000.00,"VETERANS ENVIRONMENTAL GROUP, LLC","SUSTAINING AND MAINTAINING TRAINING LANDS, PRO...",INDEFINITE DELIVERY / REQUIREMENTS,NaN,Department of Justice,Federal Prison Industries / Unicor,252.0,department-of-justice,CONT_IDV_15UC0C20D00001857_1542,NaN,2025M08
1,36C10X21D0002,8/3/2021,19167.00,"CARDINAL HEALTH P.R. 220, LLC",MEDICAL/SURGICAL PRIME VENDOR (MSPV) 2.0 IDIQ ...,INDEFINITE DELIVERY / INDEFINITE QUANTITY,NaN,Department of Veterans Affairs,Department of Veterans Affairs,561.0,department-of-veterans-affairs,CONT_IDV_36C10X21D0002_3600,NaN,2021M08
2,15BRRC21D00000274,3/1/2021,15974.19,"DISMAS CHARITIES, INC","TO PROVIDE RRC SERVICE IN ALBUQUERQUE, NM",INDEFINITE DELIVERY / INDEFINITE QUANTITY,NaN,Department of Justice,Federal Prison System / Bureau of Prisons,252.0,department-of-justice,CONT_IDV_15BRRC21D00000274_1540,NaN,2021M03
3,19AQMM21D0011,2/12/2021,10000.00,TRIPLE CANOPY INC,PROFESSIONAL SECURITY SERVICES CONTRACT WORLDW...,INDEFINITE DELIVERY / INDEFINITE QUANTITY,NaN,Department of State,Department of State,315.0,department-of-state,CONT_IDV_19AQMM21D0011_1900,NaN,2021M02
4,19AQMM21D0010,2/12/2021,10000.00,SOC LLC,WORLDWIDE PROTECTIVE SERVICES (WPS) III MULTIP...,INDEFINITE DELIVERY / INDEFINITE QUANTITY,NaN,Department of State,Department of State,315.0,department-of-state,CONT_IDV_19AQMM21D0010_1900,NaN,2021M02

In [ ]:
# ML Spending & Result

In [ ]:
import scipy.stats as st

corr=round(st.pearsonr(final_combined_data_df['player count'],final_combined_data_df['Final Price_$'])[0],2)
# player count = US Spending | Final Price = Natural Gas Price
print(f"The correlation between Player Count and Final Price is {corr}")
model = st.linregress(final_combined_data_df['player count'],final_combined_data_df['Final Price_$'])

y_values = final_combined_data_df['player count']*model[0]+model[1]
plt.scatter(final_combined_data_df['player count'],final_combined_data_df['Final Price_$'])
plt.plot(final_combined_data_df['player count'],y_values,color="red")
plt.xlabel('Player Count')
plt.ylabel('Final Price')
plt.show()

In [ ]:
players_prices_df = final_combined_data_df.loc[:, ['player count', 'Final Price_$']]

In [ ]:
corr = players_prices_df.corr()

In [ ]:
corr.style.background_gradient(cmap ='coolwarm')

In [ ]:
from scipy import stats

t_stat, p_val = stats.ttest_ind(final_combined_data_df['player count'],final_combined_data_df['Final Price_$'], 
                      equal_var=False, alternative='less')
print(f"t is {t_stat:.2f} while p is {p_val:.6f}")
if p_val < 0.05:
    print('Null hypothesis is rejected and Alternative Hypothesis is true.')
else:
    print('P = 0.99 and is > 0.05 so the Null Hypothesis is true.')

In [ ]:
Hypothesis - If the number of players in a game is related to the price of a game, then price is a factor of game popularity.
Null Hypothesis - Price of a game is NOT a factor in game popularity.
Alternative Hypothesis - Price of a game is a factor in game popularity.